<nav class="navbar navbar-dark navbar-expand-sm bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand mr-auto" href="\home"><img src="./././assets/images/logo.png" height="60" width="100"></a>
    <div class="justify-content-end">
      <div class="navbar-text col-sm ">
        <a id="login" data-toggle="modal" (click)="open()"><span class="fa fa-sign-in" ></span>Se connecter</a>
      </div>
    </div>
  </div>
</nav>

<header class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 ">
        <h1>WSgenerator</h1>
        <h5>Un générateur des web services</h5>
        <ul class="">
          <li>Protocol de connexion entre tout type de technologie.</li>
          <li>Cette application est dédiée à des utilisateur sous la supervision d'un développeur émetteur.</li>
        </ul>
      </div>
      <div class=" col-sm col-12  align-self-center ">
        <img src="./././assets/images/logo.png" class="img-fluid">
      </div>
      <div class="col-12 col-sm align-self-center offset-1">
        <a id="reserve" role="button" class="btn btn-primary btn-sm btn-block" href="#services">Nos services</a>
      </div>
    </div>
  </div>
</header>

<div class="container" id="services">
  <owl-carousel [options]="homeSlider" [carouselClasses]="['owl-theme','CustomClassName'] " class="carousel">
    <div class="carousel-item active">
      <div class="col-4">
        <img class="d-block img-fluid" src="./././assets/images/webservice.jpg" alt="Choisir un web service">
      </div>
        <div class="carousel-caption d-none d-md-block offset-4  ">
          <h2>Choisir un web service</h2>
          <div class="text-start">
            <p class="d-none d-sm-block ">1-Choisir un web service en introduisant son matricule.<br>
              2-Remplir la liste de ses paramètres.<br>
              3-Recevoir les données voulus.</p><br><br>
          </div>
        </div>
    </div>
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="./././assets/images/devWS.jpg" alt="Publier un nouveau web service">
      <div class="carousel-caption d-none d-md-block offset-4">
        <h2 >Publier un nouveau web service</h2>
        <p class="d-none d-sm-block ">Le dévelopeur émetteur peut développer un nouveau web service en introduisant son matricule,
          ses paramètres, sa requête.Ensuite il doit tester son fonctionnement pour le publier.
        </p><br>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="col-4">
        <img class="d-block img-fluid" src="./././assets/images/publierWS.jpeg" alt="Developer un web service">
      </div>
      <div class="carousel-caption d-none d-md-block offset-4">
        <h2 >Déclarer une panne</h2>
        <p >En cas vous recontrez un problème dans notre application, vous pouver décrire la panne.</p><br><br>
      </div>
    </div>
  </owl-carousel>
</div>





